* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    /*height: 100%;*/
}

$colorFuente: black;
$blanco: white;
$pxcien: 100px;
$tema:blanc;




@media (min-width:31px) and (max-width:1px){

    .navbar{ grid-area: navbar;}
    .div{grid-area: div;}
    .divServicios{grid-area: divServicios;}
    .carrusel{grid-area: carrusel;}
    .contacto{grid-area: contacto;}
    .preguntasFrecuentes{grid-area: preguntasFrecuentes;}

    .main{
        display: grid;
        grid-template:  "navbar"         
                        "div"
                        "carrusel"
                        "divServicios"
                        "preguntasFrecuentes"
                        "contacto";
    }


    .navbar {
        height: 90px;
    }

    .div{
        @if $tema==blanco{
            // background-image: url(img/blanco.jpg);
            background-color: white;
        }

        @else {
            // background-image: url(img/fondoPreguntas.png);
            background-color: #464242;
        }
        background-size: auto;
        background-repeat: repeat;
        height: auto;
        text-align: center;
        width: 100%;
        .div__h1{
            font-family: 'Zen Kaku Gothic Antique', sans-serif;
            font-size: 2em;
            color: $colorFuente;
            padding-top: 10%;

            @if $tema==blanco{
                color: black;
            }

            @else {
                color: $colorFuente;
            }
             
        }

        .div__p{
            font-family: 'Zen Kaku Gothic Antique', sans-serif;
            font-size: $pxcien - 80px;
            color: $colorFuente;
            margin: 10%;

            @if $tema==blanco{
                color: black;
            }

            @else {
                color: $colorFuente;
            }
        }
        .div__btn{
            width: 50%;
            margin: $pxcien - 80px;
        }
    }

    .divServicios{
        height: auto;
        width: 100%;
        background-color: $blanco;
        text-align: center;

        hr {
            margin-top: 0;
        
        }

        h3{
            font-family: 'Zen Kaku Gothic Antique', sans-serif;
            font-size: 1.8em;
            font-weight: 900;
            color: $colorFuente;  
            margin-top: $pxcien - 40px;          
        }       

        .divServicios__servicio1{
            height: $pxcien + 200px;
            text-align: center;
            h2{
                font-family: 'Zen Kaku Gothic Antique', sans-serif;
                padding-top: 10%;
                font-size: 1.2em;
                font-weight: 900;
            }
            .divServicios__btn{
                height: $pxcien - 70px;
                width: 85%;
                margin-top: $pxcien - 95px;
            }

        }
        .divServicios__servicio2{
            height: 300px;
            text-align: center;
            h2{
                font-family: 'Zen Kaku Gothic Antique', sans-serif;
                padding-top: 10%;
                font-size: 1.2em;
                font-weight: 900;
            }
            .divServicios__btn{
                height: 30px;
                width: 85%;
                margin-top: 5px;
            }


        }
        .divServicios__servicio3{
            height: 300px;
            text-align: center;
            h2{
                font-family: 'Zen Kaku Gothic Antique', sans-serif;
                padding-top: 10%;
                font-size: 1.2em;
                font-weight: 900;
            }
            .divServicios__btn{
                height: 30px;
                width: 85%;
                margin-top: 5px;
            }

        }

    }

    .carrusel{
        @if $tema==blanco{
            background-color: $blanco;
        }

        @else {
            background-color: #9e9e9e;
        }
        height: auto;
        width: 100%;
        text-align: center;
        .fondoPreguntas{
            margin-top: 5%;
            margin-block-end: 20%;
            height: 8rem;
            width: auto;
        }
        h2{
            font-size: 1.2em;
            @if $tema==blanco{
                color: black;
            }
    
            @else {
                color: white;
            }
        }

        p{
            font-size: 1em;
        }
    }

    .preguntasFrecuentes{
        height: auto;
        width: 100%;
        background-color: $blanco;
        text-align: center;
        h3{
            font-family: 'Zen Kaku Gothic Antique', sans-serif;
            font-size: 1.8em;
            font-weight: 900;
            color: $colorFuente;  
            margin-top: 60px;          
        }  
        .btnPreguntasFrec{
            margin-top: 5%;
            margin-block-end: 5%;
            padding: 1%;
            height: 80px;
            width: 90%;
            background-color: #3b3b3b;
            color: $blanco;
        }
    }

    .contacto{
        .divForm{ grid-area: divForm;}
        .pieFooter{grid-area: pieFooter;}
        .contacto{
            display: grid;
            grid-template:  "divForm"         
                            "pieFooter"
        }
        height: 700px;
        width: 100%;
        background-color: black;
        .form-group{
            width: 80%;
            margin-left: 10%;
            padding-top: 4%;
        }
        h4{
            color: $blanco;
            font-size: 20px;
            margin-top: 10%;
        }
        .btn{
            width: 30%;
            margin-left: 13%;
        }
        .pieFooter{
            background-color: black;
            text-align: center;
            color: white;
            margin-top: 50px;
            img{
                margin: 20px;
                height: 30px;
                width: auto;
            }
            

        }
    }

    .subir{
        height: 40px;
        width: 40px;
        position: fixed;
        bottom: 50px;
        right: 20px;
        
    }

    article{
        border: #3b3b3b; 
        border-style: solid;
        border-width: 15px;
        img{
        width: 90%;
        margin: 5%;
        }
        h4{
            text-align: center;
            font-size: 20px;
        }
    }

    .articulosEspecificos{
        h4{
            font-size: 30px;
            padding-top: 20px;
        }
        p{
            margin: 15px;
        }
    }
    
}

@media (min-width:320px) and (max-width:767px){

    .navbar{ grid-area: navbar;}
    .div{grid-area: div;}
    .divServicios{grid-area: divServicios;}
    .carrusel{grid-area: carrusel;}
    .contacto{grid-area: contacto;}
    .preguntasFrecuentes{grid-area: preguntasFrecuentes;}

    .main{
        display: grid;
        grid-template:  "navbar"         
                        "div"
                        "carrusel"
                        "divServicios"
                        "preguntasFrecuentes"
                        "contacto";
    }

    .divServicios__servicio1{grid-area: divServicios__servicio1;}
    .divServicios__servicio2{grid-area: divServicios__servicio2;}
    .divServicios__servicio3{grid-area: divServicios__servicio3;}

    .divServicios{
        display: grid;
        grid-template:  "divServicios__servicio1" 
                        "divServicios__servicio2" 
                        "divServicios__servicio3";
    }

    .h3pf{grid-area: h3pf;}
    .pf1 {grid-area: pf1;}
    .pf2 {grid-area: pf2;}
    .pf3 {grid-area: pf3;}
    .pf4 {grid-area: pf4;}
    .pf5 {grid-area: pf5;}
    .pf6 {grid-area: pf6;}

    .preguntasFrecuentes{
        display: grid;
        grid-template:  "pf1" 
                        "pf2"
                        "pf3" 
                        "pf4"
                        "pf5" 
                        "pf6";
    }


    .divForm {grid-area: divForm;}
    .divMapa {grid-area: divMapa;}
    .divRedes {grid-area: divRedes;}
    .contacto{
        display: grid;
        grid-template:  "divForm divForm"
                        "divMapa divRedes";
    }

    .navbar {
        height: 100px;
        .navbar-nav{
            text-align:center;
            width: 100%;
        }
        .navbar-brand{
            font-size: 40px;
        }
        a{
            font-size: 15px;
            margin-right: 5px;
            color: white;

        }
    }

    .div{
        height: auto;
        text-align: center;
        width: 100%;
        .divH1P{
            .div__h1{
                font-family: 'Zen Kaku Gothic Antique', sans-serif;
                font-size: 40px;
                color: black;
                padding-top: 8%;
                margin: 3%;
            }
            .div__p{
                font-family: 'Zen Kaku Gothic Antique', sans-serif;
                font-size: 20px;
                color: black;
                padding-top: 4%;
                margin: 5%;
                margin-top: 2%;
            }
        }
        .divBtn{
            font-size: 20px;
            align-items: center;
            margin: auto;
            width: 50%;
            .div__btn{
                height: 50px;
                width: 80%;
                margin: 2px;
            }
        }

    }

    .divServicios{
        height: auto;
        width: 100%;
        .divServicios__servicio1{
            height: auto;
            text-align: center;
            img{
                width: 350px;
                margin-top: 10px;
            }
            img:hover{ 
                -webkit-transform: scale(1.05);
                transform: scale(1.05)
            }
            .btn{
                margin-top: 20px;
            }
        }
        .divServicios__servicio2{
            height: auto;
            text-align: center;
            img{
                width: 350px;
                margin-top: 30px;
            }
            img:hover{ 
                -webkit-transform: scale(1.05);
                transform: scale(1.05)
            }
            .btn{
                margin-top: 20px;
            }
        }
        .divServicios__servicio3{
            height: auto;
            text-align: center;
            img{
                width: 350px;
                margin-top: 30px;
            }
            img:hover{ 
                -webkit-transform: scale(1.05);
                transform: scale(1.05)
            }
            .btn{
                margin-top: 20px;
            }
        }

    }

    .carrusel{
        margin-top: 30px;
        height: auto;
        width: 100%;
        text-align: center;
        .fondoPreguntas{
         
            height: 300px;
            width: auto;
        }
    }

    .preguntasFrecuentes{
        height: auto;
        width: 100%;
        text-align: center; 
        .btnPreguntasFrec{
            height: 150px;
            width: 100%;
            background-color:#0b4950 ;
            color: white;
        }  
        p{
            font-family: 'Zen Kaku Gothic Antique', sans-serif;
            font-size: 18px;
            margin: 5px;
        } 
        div{
            margin: 5%;
        }
        .btnPreguntasFrec:hover{
            background-color:#1aa6b6 ;
        }
    }

    .separador{
        width: 100%;
        height: 50px;
        img{
            width: 100%;
            height: 100%;
        }
    }

    .separador1{
        width: 100%;
        height: 50px;
        img{
            width: 100%;
            height: 100%;
        }
    }

    .contacto{
        height: auto;
        width: 100%;
        text-align: center;
        background-color: #116e79;
        .form-group{
            width: 90%;
            padding-top: 3%;
            margin: auto;
        }
        .btn{
            width: 40%;
            margin-top: 15px;
        }
        .divMapa{
            width: auto;
            margin-top: 50px;
            text-align: left;
            ul{
                margin-left: 20%;
                color:white;
                a{
                    color: white;
                }
            }
            p{
                margin-left: 10%;
                color: white;
            }
        }
        .divRedes{
            justify-self: end;
            width: 30px;
            margin-right: 25px;
            img{
                margin-top: 65px;
                width: 30px;

            }
            img:hover{ 
                -webkit-transform: scale(1.1);
                transform: scale(1.1)
            }
        }

    }

    .subir{
        height: 40px;
        width: 40px;
        position: fixed;
        bottom: 50px;
        right: 20px;
        img:hover{ 
            -webkit-transform: scale(1.1);
            transform: scale(1.1)
        }
    }


    .articulo1{grid-area: articulo1;}
    .articulo2{grid-area: articulo2;}
    .articulo3{grid-area: articulo3;}
    .articulo4{grid-area: articulo4;}
    .articulo5{grid-area: articulo5;}
    .articulo6{grid-area: articulo6;}
    .articulos{
        display: grid;
        grid-template:  "articulo1" 
                        "articulo2"
                        "articulo3" 
                        "articulo4"
                        "articulo5" 
                        "articulo6";
    }
    article{
        border: 1px solid #18a4b4 ;
        width: 305px;
        height: auto;
        justify-self: center;
        margin-top: 20px;
        img{
        width: 100%;
        height:auto;
        }
        h4{
            text-align: center;
            font-size: 20px;
        }
    }

    .articulosEspecificos{
        width: auto;
        border: 0px;
        text-align: center;
        margin: 15px;
        h4{
            font-size: 30px;
            padding-top: 20px;
        }
    }

    .tarjeta1{grid-area: tarjeta1;}
    .tarjeta2{grid-area: tarjeta2;}
    .tarjeta3{grid-area: tarjeta3;}
    .tarjeta4{grid-area: tarjeta4;}

    .divDetallesServicios{
        display: grid;
        grid-template:  "tarjeta1" 
                        "tarjeta2"
                        "tarjeta3"  
                        "tarjeta4";
    }

    .divDetallesServicios{
        .tarjeta1{
            text-align: center;
            border: 1px solid #18a4b4 ;
            justify-self: center;
            width: 300px;
            height: 350px;
        }
        .tarjeta2{
            text-align: center;
            border: 1px solid #18a4b4 ;
            justify-self: center;
            width: 300px;
            height: 350px;
            margin-top: 20px;
        }
        .tarjeta3{
            text-align: center;
            border: 1px solid #18a4b4 ;
            justify-self: center;
            width: 300px;
            height: 350px;
            margin-top: 20px;
        }
        .tarjeta4{
            text-align: center;
            border: 1px solid #18a4b4 ;
            justify-self: center;
            width: 300px;
            height: 350px;
            margin-top: 20px;
        }
        h3{
            margin: 10px;
            font-size: 20px;
            font-family: 'Zen Kaku Gothic Antique', sans-serif;
        }
        p{
            margin: 20px;
            margin-top: 20px;
            font-size: 16px;
            font-family: 'Zen Kaku Gothic Antique', sans-serif;
        }
    }
}

@media (min-width:768px) and (max-width:900px){

    .navbar{ grid-area: navbar;}
    .div{grid-area: div;}
    .divServicios{grid-area: divServicios;}
    .carrusel{grid-area: carrusel;}
    .contacto{grid-area: contacto;}
    .preguntasFrecuentes{grid-area: preguntasFrecuentes;}

    .main{
        display: grid;
        grid-template:  "navbar navbar"         
                        "div carrusel"
                        "divServicios divServicios"
                        "preguntasFrecuentes preguntasFrecuentes"
                        "contacto contacto";
    }

    .divServicios__servicio1{grid-area: divServicios__servicio1;}
    .divServicios__servicio2{grid-area: divServicios__servicio2;}
    .divServicios__servicio3{grid-area: divServicios__servicio3;}

    .divServicios{
        display: grid;
        grid-template:  "divServicios__servicio1" 
                        "divServicios__servicio2" 
                        "divServicios__servicio3";
    }

    .h3pf{grid-area: h3pf;}
    .pf1 {grid-area: pf1;}
    .pf2 {grid-area: pf2;}
    .pf3 {grid-area: pf3;}
    .pf4 {grid-area: pf4;}
    .pf5 {grid-area: pf5;}
    .pf6 {grid-area: pf6;}

    .preguntasFrecuentes{
        display: grid;
        grid-template:  "pf1 pf2"
                        "pf3 pf4"
                        "pf5 pf6";
    }


    .divForm {grid-area: divForm;}
    .divMapa {grid-area: divMapa;}
    .divRedes {grid-area: divRedes;}
    .contacto{
        display: grid;
        grid-template:  "divForm divRedes"
                        "divMapa divMapa";
    }

    .navbar {
        height: 100px;
        .navbar-nav{
            text-align: right;
        }
        .navbar-brand{
            font-size: 40px;
        }
        a{
            font-size: 15px;
            margin-right: 5px;
            color: white;

        }
        a:hover{ 
            transform: scale(1.1)
        }
    }

    .div{
        float: left;
        height: 500px;
        text-align: center;
        width: 60%;
        .divH1P{
            .div__h1{
                font-family: 'Zen Kaku Gothic Antique', sans-serif;
                font-size: 40px;
                color: black;
                padding-top: 8%;
                margin: 3%;
            }
            .div__p{
                font-family: 'Zen Kaku Gothic Antique', sans-serif;
                font-size: 20px;
                color: black;
                padding-top: 4%;
                margin: 5%;
                margin-top: 2%;
            }
        }
        .divBtn{
            font-size: 20px;
            align-items: center;
            margin: auto;
            width: 50%;
            .div__btn{
                height: 50px;
                width: 80%;
                margin: 2px;
            }
        }

    }

    .divServicios{
        height: auto;
        width: 100%;
        .divServicios__servicio1{
            height: auto;
            text-align: center;
            img{
                width: 350px;
                margin-top: 10px;
            }
            img:hover{ 
                -webkit-transform: scale(1.05);
                transform: scale(1.05)
            }
            .btn{
                margin-top: 20px;
            }
        }
        .divServicios__servicio2{
            height: auto;
            text-align: center;
            img{
                width: 350px;
                margin-top: 30px;
            }
            img:hover{ 
                -webkit-transform: scale(1.05);
                transform: scale(1.05)
            }
            .btn{
                margin-top: 20px;
            }
        }
        .divServicios__servicio3{
            height: auto;
            text-align: center;
            img{
                width: 350px;
                margin-top: 30px;
            }
            img:hover{ 
                -webkit-transform: scale(1.05);
                transform: scale(1.05)
            }
            .btn{
                margin-top: 20px;
            }
        }

    }

    .carrusel{
        float: right;
        height: 500px;
        width: 40%;
        text-align: center;
        .fondoPreguntas{
            margin-top: 15%;
            height: 300px;
            width: auto;
        }
    }

    .preguntasFrecuentes{
        height: auto;
        width: 100%;
        text-align: center; 
        .btnPreguntasFrec{
            height: 200px;
            width: 100%;
            background-color:#0b4950 ;
            color: white;
        }  
        p{
            font-family: 'Zen Kaku Gothic Antique', sans-serif;
            font-size: 20px;
            margin: 5px;
        } 
        div{
            margin: 5%;
        }
        .btnPreguntasFrec:hover{
            background-color:#1aa6b6 ;
        }
    }

    .separador{
        width: 100%;
        height: 50px;
        img{
            width: 100%;
            height: 100%;
        }
    }

    .separador1{
        width: 100%;
        height: 50px;
        img{
            width: 100%;
            height: 100%;
        }
    }

    .contacto{
        height: auto;
        width: 100%;
        text-align: left;
        background-color: #116e79;
        // background-image: url(../img/backgroundFotter.png);
        background-repeat: no-repeat;
        background-position: right;
        .form-group{
            width: 600px;
            padding-top: 3%;
            margin-left: 50px;
        }
        .btn{
            width: 150px;
            margin: 3%;
            margin-left: 120px;
        }
        .divMapa{
            border-top: 0.5px solid white;
            width: auto;
            margin-top: 50px;
            padding-top: 50px;
            ul{
                margin-left: 100px;
                color:white;
                a{
                    color: white;
                }
            }
            p{
                margin-left: 100px;
                color: white;
            }
        }
        .divRedes{
            justify-self: end;
            width: 30px;
            margin-right: 25px;
            img{
                margin-top: 75px;
                width: 30px;

            }
            img:hover{ 
                -webkit-transform: scale(1.1);
                transform: scale(1.1)
            }
        }

    }

    .subir{
        height: 40px;
        width: 40px;
        position: fixed;
        bottom: 50px;
        right: 20px;
        img:hover{ 
            -webkit-transform: scale(1.1);
            transform: scale(1.1)
        }
    }


    .articulo1{grid-area: articulo1; justify-self: right;}
    .articulo2{grid-area: articulo2;}
    .articulo3{grid-area: articulo3; justify-self: right;}
    .articulo4{grid-area: articulo4;}
    .articulo5{grid-area: articulo5; justify-self: right;}
    .articulo6{grid-area: articulo6;}
    .articulos{
        display: grid;
        grid-template:  "articulo1 articulo2"
                        "articulo3 articulo4"
                        "articulo5 articulo6";
    }
    article{
        margin: 30px;
        border: 1px solid #18a4b4 ;
        width: 305px;
        height: auto;
        img{
        width: 100%;
        height:auto;
        }
        h4{
            text-align: center;
            font-size: 20px;
        }
    }

    .articulosEspecificos{
        width: 90%;
        border: 0px;
        h4{
            margin: 30px;
            font-size: 30px;
            padding-top: 20px;
        }
    }

    .tarjeta1{grid-area: tarjeta1;}
    .tarjeta2{grid-area: tarjeta2;}
    .tarjeta3{grid-area: tarjeta3;}
    .tarjeta4{grid-area: tarjeta4;}

    .divDetallesServicios{
        display: grid;
        grid-template:  "tarjeta1 tarjeta2"
                        "tarjeta3 tarjeta4";
    }

    .divDetallesServicios{
        .tarjeta1{
            text-align: center;
            border: 1px solid #18a4b4 ;
            margin-right: 20px;
            justify-self: right;
            width: 300px;
            height: 350px;
        }
        .tarjeta2{
            text-align: center;
            border: 1px solid #18a4b4 ;
            margin-left: 20px;
            width: 300px;
            height: 350px;
        }
        .tarjeta3{
            text-align: center;
            border: 1px solid #18a4b4 ;
            margin-top: 20px;
            margin-right: 20px;
            justify-self: right;
            width: 300px;
            height: 350px;
        }
        .tarjeta4{
            text-align: center;
            border: 1px solid #18a4b4 ;
            margin-top: 20px;
            margin-left: 20px;
            width: 300px;
            height: 350px;
        }
        h3{
            margin: 10px;
            font-size: 20px;
            font-family: 'Zen Kaku Gothic Antique', sans-serif;
        }
        p{
            margin: 20px;
            margin-top: 20px;
            font-size: 16px;
            font-family: 'Zen Kaku Gothic Antique', sans-serif;
        }
    }
}

@media (min-width:901px){

    .navbar{ grid-area: navbar;}
    .div{grid-area: div;}
    .divServicios{grid-area: divServicios;}
    .carrusel{grid-area: carrusel;}
    .contacto{grid-area: contacto;}
    .preguntasFrecuentes{grid-area: preguntasFrecuentes;}

    .main{
        display: grid;
        grid-template:  "navbar navbar"         
                        "div carrusel"
                        "divServicios divServicios"
                        "preguntasFrecuentes preguntasFrecuentes"
                        "contacto contacto";
    }

    .divServicios__servicio1{grid-area: divServicios__servicio1;}
    .divServicios__servicio2{grid-area: divServicios__servicio2;}
    .divServicios__servicio3{grid-area: divServicios__servicio3;}

    .divServicios{
        display: grid;
        grid-template: "divServicios__servicio1 divServicios__servicio2 divServicios__servicio3" 400px;
    }

    .h3pf{grid-area: h3pf;}
    .pf1 {grid-area: pf1;}
    .pf2 {grid-area: pf2;}
    .pf3 {grid-area: pf3;}
    .pf4 {grid-area: pf4;}
    .pf5 {grid-area: pf5;}
    .pf6 {grid-area: pf6;}

    .preguntasFrecuentes{
        display: grid;
        grid-template:  "h3pf h3pf h3pf"
                        "pf1 pf2 pf3"
                        "pf4 pf5 pf6";
    }


    .divForm {grid-area: divForm;}
    .divMapa {grid-area: divMapa;}
    .divRedes {grid-area: divRedes;}
    .contacto{
        display: grid;
        grid-template:  "divForm divMapa divRedes";
    }

    .navbar {
        height: 100px;
        .navbar-nav{
            text-align: right;
        }
        .navbar-brand{
            font-size: 40px;
        }
        a{
            font-size: 20px;
            margin-right: 5px;
            color: white;

        }
        a:hover{ 
            transform: scale(1.1)
        }
    }

    .div{
        float: left;
        height: 500px;
        text-align: center;
        width: 60%;
        .divH1P{
            .div__h1{
                font-family: 'Zen Kaku Gothic Antique', sans-serif;
                font-size: 4em;
                color: $colorFuente;
                padding-top: 8%;
                margin: 3%;
            }
            .div__p{
                font-family: 'Zen Kaku Gothic Antique', sans-serif;
                font-size: 1.5em;
                color: $colorFuente;
                padding-top: 4%;
                margin: 5%;
                margin-top: 2%;
            }
        }
        .divBtn{
            font-size: 20px;
            align-items: center;
            margin: auto;
            width: 50%;
            .div__btn{
                height: 50px;
                width: 80%;
                margin: 2px;
            }
        }

    }

    .divServicios{
        padding-top: 100px;
        height: auto;
        width: 100%;
        .divServicios__servicio1{
            height: auto;
            text-align: center;
            img{
                width: 280px;
                margin: auto;
            }
            img:hover{ 
                -webkit-transform: scale(1.05);
                transform: scale(1.05)
            }
            .btn{
                margin-top: 20px;
            }
        }
        .divServicios__servicio2{
            height: auto;
            text-align: center;
            img{
                width: 280px;
                margin: auto;
            }
            img:hover{ 
                -webkit-transform: scale(1.05);
                transform: scale(1.05)
            }
            .btn{
                margin-top: 20px;
            }
        }
        .divServicios__servicio3{
            height: auto;
            text-align: center;
            img{
                width: 280px;
                margin: auto;
            }
            img:hover{ 
                -webkit-transform: scale(1.05);
                transform: scale(1.05)
            }
            .btn{
                margin-top: 20px;
            }
        }

    }

    .carrusel{
        float: right;
        height: 500px;
        width: 40%;
        text-align: center;
        .fondoPreguntas{
            margin-top: 15%;
            height: 300px;
            width: auto;
        }
    }

    .preguntasFrecuentes{
        height: auto;
        width: 100%;
        text-align: center; 
        .btnPreguntasFrec{
            height: 200px;
            width: 100%;
            background-color:#0b4950 ;
            color: white;
        }  
        p{
            font-family: 'Zen Kaku Gothic Antique', sans-serif;
            font-size: 20px;
            margin: 5px;
        } 
        div{
            margin: 5%;
        }
        .btnPreguntasFrec:hover{
            background-color:#1aa6b6 ;
        }
    }

    .separador{
        width: 100%;
        height: 50px;
        img{
            width: 100%;
            height: 100%;
        }
    }

    .separador1{
        width: 100%;
        height: 50px;
        img{
            width: 100%;
            height: 100%;
        }
    }

    .contacto{
        height: auto;
        width: 100%;
        text-align: left;
        background-color: #116e79;
        // background-image: url(../img/backgroundFotter.png);
        background-repeat: no-repeat;
        background-position: right;
        .form-group{
            width: 400px;
            padding-top: 1%;
            margin-left: 50px;
        }
        .btn{
            width: 150px;
            margin: 3%;
            margin-left: 55px;
        }
        .divMapa{
            width: auto;
            margin-top: 20px;
            ul{
                margin-left: 30px;
                color:white;
                a{
                    color: white;
                }
            }
            p{
                color: white;
            }
        }
        .divRedes{
            justify-self: end;
            width: 30px;
            margin-right: 25px;
            img{
                margin-top: 75px;
                width: 30px;

            }
            img:hover{ 
                -webkit-transform: scale(1.1);
                transform: scale(1.1)
            }
        }

    }

    .subir{
        height: 40px;
        width: 40px;
        position: fixed;
        bottom: 50px;
        right: 20px;
        img:hover{ 
            -webkit-transform: scale(1.1);
            transform: scale(1.1)
        }
    }


    .articulo1{grid-area: articulo1; justify-self: right;}
    .articulo2{grid-area: articulo2;}
    .articulo3{grid-area: articulo3; justify-self: right;}
    .articulo4{grid-area: articulo4;}
    .articulo5{grid-area: articulo5; justify-self: right;}
    .articulo6{grid-area: articulo6;}
    .articulos{
        display: grid;
        grid-template:  "articulo1 articulo2"
                        "articulo3 articulo4"
                        "articulo5 articulo6";
    }
    article{
        margin: 40px;
        border: 1px solid #18a4b4 ;
        width: 305px;
        height: auto;
        img{
        width: 100%;
        height:auto;
        }
        h4{
            text-align: center;
            font-size: 20px;
        }
    }

    .articulosEspecificos{
        width: 90%;
        border: 0px;
        h4{
            margin: 30px;
            font-size: 30px;
            padding-top: 20px;
        }
    }

    .tarjeta1{grid-area: tarjeta1;}
    .tarjeta2{grid-area: tarjeta2;}
    .tarjeta3{grid-area: tarjeta3;}
    .tarjeta4{grid-area: tarjeta4;}

    .divDetallesServicios{
        display: grid;
        grid-template:  "tarjeta1 tarjeta2"
                        "tarjeta3 tarjeta4";
    }

    .divDetallesServicios{
        .tarjeta1{
            text-align: center;
            border: 2px solid #18a4b4 ;
            margin-right: 20px;
            justify-self: right;
            width: 350px;
            height: 400px;
        }
        .tarjeta2{
            text-align: center;
            border: 2px solid #18a4b4 ;
            margin-left: 20px;
            width: 350px;
            height: 400px;
        }
        .tarjeta3{
            text-align: center;
            border: 2px solid #18a4b4 ;
            margin-top: 20px;
            margin-right: 20px;
            justify-self: right;
            width: 350px;
            height: 400px;
        }
        .tarjeta4{
            text-align: center;
            border: 2px solid #18a4b4 ;
            margin-top: 20px;
            margin-left: 20px;
            width: 350px;
            height: 400px;
        }
        h3{
            margin-top: 50px;
            font-size: 30px;
            font-family: 'Zen Kaku Gothic Antique', sans-serif;
        }
        p{
            margin: 20px;
            margin-top: 50px;
            font-size: 16px;
            font-family: 'Zen Kaku Gothic Antique', sans-serif;
        }
    }
}

 

